.body {
  height: 100%; 
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#middle {
  margin-bottom: 80px;
}
#side {
  position: fixed;
  padding-top: 0px;
  right: 17px;
}
.btn-primary {
    color: #fff;
    background-color: #733830;
    border-color: #733830;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover{
    color: #fff;
    background-color: #733830;
    border-color: #733830;
  }
  .btn-outline-primary {
    color:#e5d8c8;
    background-color: rgba(255,255,255,0);
    border-color: #e5d8c8;
  }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active:hover{
    color: #b5424f;
    background-color: #e5d8c8;
    border-color: #e5d8c8;
  }
  .badge-outline-primary {
    color: #b5424f;
    border: 1px solid #b5424f;
    background-color: transparent;
}
  .btn-light {
    color: #b5424f;
    background-color: #e5d8c8;
    border-color: #e5d8c8;
  }
  .btn-light:hover, .btn-light:focus, .btn-light:active:hover{
    color: #733830;
    background-color: #a79ba7;
    border-color: #a79ba7;
  }
  .btn-outline-light {
    color:#b5424f;
    background-color: rgba(255,255,255,0);
    border-color: #b5424f;
  }
  .btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active:hover{
    color: #e5d8c8;
    background-color: #968a96;
    border-color: #968a96;
  }